### Start Up Question in Basic Python (Numpy & Pandas)
<details><summary>Instructions (Click Here)</summary>
    
    You don't have to write theory answers. So, please answer in Coding Format.
    
    Don't Ever Try to copy from online source, if you do! *DISQUALIFED* will be the perfect tag for you.
</details>

- Import pandas and Numpy with **p** and **n**.
- Import given dataset in _**CSV**_ (it's your opinion that where to load).

In [1]:
import pandas as p

In [2]:
import numpy as n

In [23]:
a =p.read_csv("dataset.csv")

In [4]:
a

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [29]:
# write code here
a[["IATA_CODE","LONGITUDE"]]

     LONGITUDE
0    -75.44040
1    -99.68190
2   -106.60919
3    -98.42183
4    -84.19447
..         ...
317 -132.36982
318 -111.11764
319  -94.30681
320 -139.66023
321 -114.60597

[322 rows x 1 columns]

- Show the first and last column of the given dataset.

In [30]:
# write code here
a = n.array([1])
b = n.array([2])

x=(a+b)**2
x

array([9], dtype=int32)

- Do some math with self created list/array/tuple/etcetra on **(a+b)^2** and show the result.

In [7]:
# write code here

Find out the errors and solve in next code line!

In [33]:
a = 10
if a < 11:
    print("It's less then 11.")

It's less then 11.

In [9]:
# write code here

We need a password of 8 digits.
Generate 10 passwords for us.

In [10]:
# write code here

Make a contact list of 5 contacts without csv or any list. 

And print these as a table.

In [11]:
# write code here
n.ones([2,4,4], dtype="int32")

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]])

Declare a 3D 4x4 1's matrics .

In [12]:
# write code her

The contact list you have created, show us the second contact with its details (without table).

In [13]:
import numpy as n

In [14]:
import pandas as p

In [15]:
df = p.DataFrame('dataset.csv')
df

ValueError: DataFrame constructor not properly called!

In [ ]:
dropna(a)

Remove entire rows for blank valus from firstly loaded dataset.

In [ ]:
df = p.DataFrame("dataset.csv")
df

In [ ]:
# write code here
a.tail()

Show the last 5 rows by calling a built-in function.

Example: For first 5 rows, we call _**head()**_ function.

In [ ]:
# write code here

Now, I need to know the total number of numerical elements as count, mean, std, min, 1st+2nd+3rd percentiles and maximum values.

Show me and you will be directed to the next task within 1 week.

In [ ]:
# write code here

### Thanks!